* .swp
* . * ~
project.lock.json
.DS_Store
* .pyc

# Visual Studio Code
.vscode

# Archivos específicos del usuario
* .suo
* .user
* .userosscache
* .sln.docstates

# Resultados de construcción
[ Dd ] ebug /
[ Dd ] ebugPublic /
[ Rr ] elease /
[ Rr ] elimina /
x64 /
x86 /
construir /
bld /
[ Bb ] en /
[ Oo ] bj /
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2019
.vs /